@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .before-custom {
    @apply h-5 w-7 absolute top-0 right-[-22px] ;
    content: '';
  }
  .my {
    @apply h-5 w-7 absolute top-0 left-[-22px] ;
    content: '';
  }
  .bg-custom-gradient {
    background-image: linear-gradient(135deg ,#C085FC 0% , #C085FC 50% , transparent 50% ,transparent);
  }
  .my-custom-gradient {
    background-image: linear-gradient(-135deg, #D8B4FE 0%,#D8B4FE 50%, transparent 50%, transparent 100%);

  }
}


